h1,h2 {
    color: #618ad5;
}

.titulos-tab-moda {
    background-color: #BB86FC;
    color: #ffff;
}

.camisetas-valores {
    background-color: #424250
    ;
    color: #ffff;
}

.tenis-valores {
    background-color: #424250;
    color: #ffff;
}

.titulos-tab-casa {
    background-color: #00C4B4;
    color: #ffff;
}

